* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #181818;
}
::-webkit-scrollbar-thumb {
    background: lighten(#181818, 40%);
}
::-webkit-scrollbar-thumb:hover {
    background: lighten(#181818, 60%);
}
