@mixin transition($which, $duration, $curve) {
    -webkit-transition: $which $duration $curve;
    -khtml-transition: $which $duration $curve;
    -moz-transition: $which $duration $curve;
    -ms-transition: $which $duration $curve;
    transition: $which $duration $curve;
}

@mixin grayscaleMixin($ammountPercent, $ammountNumber) {
    //filter: gray; /* IE */
    -webkit-filter: grayscale($ammountNumber); /* Old WebKit */
    -webkit-filter: grayscale($ammountPercent); /* New WebKit */
    //filter: url(resources.svg#desaturate); /* older Firefox */
    filter: grayscale($ammountPercent); /* Current draft standard */
}

@mixin inputPlaceholder($color) {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
    }
    &::placeholder {
        /* modern browser */
        color: $color;
    }
}

@mixin container($size) {
    max-width: $size;
    margin-left: auto;
    margin-right: auto;
    @include transition(all, 80ms, ease);
}

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-center() {
    @include flex();
    align-items: center;
    justify-content: center;
}

@mixin user-select($value) {
    -webkit-touch-callout: $value;
    -webkit-user-select: $value;
    -khtml-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

@mixin text-overflow-ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
